<!DOCTYPE html>
<html>

<head>
    <title>Foodish</title>
    <!-- Logo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/logo.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div>
        <div id="nav">
            <img src="/assets/logo.png" alt="logo" title="Samosa" height="60" /> Foodish
            <br>
        </div>
        <p id="subhead">&#x1F372; Random pictures of food dishes. &#x1F35B;</p>
        <div id="mainbox" class="errorbox">
            <h2>Aw, snap! We're out of that foodish.</h2>
            <br>
            <div id="linksbox">
                <span>Submit your favourite foodishes here : <a
                        href="https://github.com/surhud004/Foodish/blob/main/CONTRIBUTING.md">GitHub</a></span>
                <% if (food.foodDB) { %>
                    <ul>
                        <% food.foodDB.forEach((dish)=> { %>
                            <% if (dish.title==='Total Foodishes' ) { %>
                                <li>
                                    <%= dish.title %> : <%= dish.count %>
                                </li>
                                <% } else { %>
                                    <li><a href="https://foodish-api.com/images/<%= dish.title %>/">
                                            <%= dish.title %>
                                        </a> : <%= dish.count %>
                                    </li>
                                    <% } %>
                                        <% }) %>
                    </ul>
                    <% } %>
                        <br>
                        <span>API available at : <a
                                href="https://foodish-api.com/api/">https://foodish-api.com/api/</a></span>
                        <br>
                        <span>Read the Documentation at : <a
                                href="https://github.com/surhud004/Foodish#readme">Foodish</a></span>

            </div>
        </div>
        <footer class="footer">
            <p class="lead">Designed and Coded by : <a href="https://github.com/surhud004">surhud004</a> &copy; 2020 -
                <%= new Date().getFullYear(); %>
            </p>
            <!-- Build date : 10th October 2020 -->
        </footer>
    </div>
</body>

</html>